<div class="tab">
    <div class="btnHolder"> <%= button_to 'Level 1', root_path, method: :get, class: "btn" %> </div>
    <div class="btnHolder"> <%= button_to 'Level 2', home_displayFreq_path, method: :get, class: "btn" %> </div>
    <div class="btnHolder"> <%= button_to 'Level 3', home_displayDup_path, method: :get, class: "btn" %> </div>
</div>