
<%= render "header" %>

<%= render "nav" %>

<h2 class="subtitle"> SalesLoft: Level 2 </h2>

    <div>
        <table>
            <tr>
                <th>Character</th>
                <th>Count</th>
            </tr>
        <% @frequency.each do |k, v| %>
            <tr>
                <th><%= k %></th>
                <th><%= v %></th>
            </tr>
        <% end %>
    </div>